name: 'Test'

on:
  workflow_dispatch:

jobs:
  build:
    name: Test build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: ["aarch64", "amd64", "armv7"]
    steps:
    - name: Checkout the repository
      uses: actions/checkout@v6
    - name: Test build
      uses: home-assistant/builder@2026.02.1
      with:
        args: |
          --test \
          --${{ matrix.arch }} \
          --target tailscale
